/.idea/
/.gradle/
/dns-service/build/
/entrance-service/build/
/endpoint-service/util-lib/build/
/endpoint-service/network-lib/build/
/endpoint-service/raft-consensus-lib/build/
/endpoint-service/service-cluster/build/
/endpoint-service/meta-data-storage-cluster/build/
/endpoint-service/content-data-storage-cluster/build/