/.idea/
/.gradle/

/dns-service/build/
/user-service/build/

/lib/util-lib/build/
/lib/network-lib/build/
/lib/raft-consensus-lib/build/

/endpoint-service/service-cluster/build/
/endpoint-service/meta-data-storage-cluster/build/
/endpoint-service/content-data-storage-cluster/build/